/* about:preferences */

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

@-moz-document url("about:preferences") {
  :root {
    --in-content-page-background: var(--gnome-settings-background) !important;
    --in-content-page-color: var(--gnome-toolbar-color) !important;
    --in-content-box-background: var(--gnome-menu-background) !important;
    --in-content-box-background-odd: var(--gnome-menu-background) !important;
    --in-content-box-border-color: var(--gnome-toolbar-border-color) !important;
    --in-content-box-info-background: var(--gnome-settings-info-background) !important;
    --in-content-border-color: var(--gnome-toolbar-border-color) !important;
    --in-content-border-hover: var(--gnome-toolbar-border-color) !important;
    --in-content-border-invalid: var(--gnome-button-destructive-action-background) !important;
    --in-content-error-text-color: var(--gnome-button-destructive-action-background) !important;
    --in-content-button-background: var(--gnome-button-background) !important;
    --in-content-button-background-hover: var(--gnome-button-hover-background) !important;
    --in-content-button-background-active: var(--gnome-button-active-background) !important;
    --in-content-icon-color: var(--gnome-toolbar-icon-fill) !important;
    --in-content-accent-color: var(--gnome-accent) !important;
    --in-content-accent-color-active: var(--gnome-accent) !important;
    --in-content-link-color: var(--gnome-accent) !important;
    --in-content-link-color-hover: var(--gnome-accent) !important;
    --in-content-link-color-active: var(--gnome-accent) !important;
    --in-content-link-color-visited: var(--gnome-accent) !important;
    --in-content-primary-button-text-color: #ffffff !important;
    --in-content-primary-button-background: var(--gnome-accent) !important;
    --in-content-primary-button-background-hover: var(--gnome-accent) !important;
    --in-content-primary-button-background-active: var(--gnome-accent) !important;
    --in-content-danger-button-background: var(--gnome-button-destructive-action-background) !important;
    --in-content-danger-button-background-hover: var(--gnome-button-destructive-action-background) !important;
    --in-content-danger-button-background-active: var(--gnome-button-destructive-action-background) !important;
    --in-content-table-background: var(--gnome-menu-background) !important;
    --dialog-warning-text-color: var(--gnome-button-destructive-action-background) !important;
  }

  /* Checkbox */
  checkbox .checkbox-check {
    background-size: 12px !important;
	  background-image: none !important;
    border-radius: 5px !important;
	  border: 2px solid var(--gnome-toolbar-border-color) !important;
	  background-color: transparent !important;
    transition: 200ms !important;
  }
  checkbox .checkbox-check[checked="true"] {
    	background-image: url("../assets/adw-icons/check-symbolic.svg") !important;
	  border-color: var(--gnome-accent) !important;
	  background-color: var(--gnome-accent) !important;
  }
  checkbox .checkbox-check[disabled="true"] {
	  opacity: 0.5;
	}

  /* Radio */
  html|input[type="radio"],
  xul|*.radio-check {
    outline: none !important;
    background-size: 12px !important;
	  background-image: none !important;
    	border-radius: 100% !important;
	  border: 2px solid var(--gnome-toolbar-border-color) !important;
	  background-color: transparent !important;
    transition: 200ms !important;
  }
  html|input[type="radio"]:checked,
  xul|*.radio-check[selected] {
	  background-image: url("../assets/adw-icons/bullet-symbolic.svg") !important;
	  border-color: var(--gnome-accent) !important;
	  background-color: var(--gnome-accent) !important;
  }
  html|input[type="radio"][disabled="true"],
  xul|*.radio-check[disabled="true"] {
	  opacity: 0.5;
	}

	/* Buttons and boxes */
	#categories > .category,
	button,
	html|select,
	html|input[type="color"],
	xul|menulist,
	html|input:is([type="email"],
	[type="tel"],
	[type="text"],
	[type="password"],
	[type="url"],
	[type="number"]),
	html|textarea,
	xul|search-textbox,
	html|select[size][multiple],
	xul|listheader,
	xul|richlistbox,
	xul|tree, 
	.info-box-container,
	.web-appearance-choice,
	.qr-code-box:not([hidden="true"]) {
	  border-radius: 6px !important;
	}
  #categories > .category[selected],
  #categories > .category.selected {
    background-color: var(--in-content-button-background) !important;
    color: var(--in-content-page-color) !important;
  }
  #categories > .category[selected]:hover,
  #categories > .category.selected:hover {
    background-color: var(--in-content-button-background-hover) !important;
  }

	/* Toggle */
  firefoxSuggestToggle,
  input[type="checkbox"].toggle-button {
    --button-height: 20px !important;
    --button-half-height: 10px !important;
    --button-width: 37px !important;
    --button-border-width: 0px !important;
    --dot-size: 16px !important;
    --dot-margin: 2px !important;
    --dot-transform-x: 17px !important;
  }

	/* Icons color */
	#category-general > .category-icon,
	#category-home > .category-icon,
	#category-search > .category-icon,
	#category-privacy > .category-icon,
	#category-sync > .category-icon,
	.sync-engine-prefs .checkbox-icon,
	.sync-engine-prefs.sync-engine-image,
	:host(:not([searchbutton])) > .textbox-search-sign,
	xul|*.addons-icon,
  .sync-engine-addons .checkbox-icon,
  .sync-engine-addons.sync-engine-image,
  xul|*.help-icon,
  .face-sad,
  #trackingProtectionShield,
  .content-blocking-warning-image,
  .geo-icon,
  .camera-icon,
  .microphone-icon,
  .desktop-notification-icon,
  .sync-engine-bookmarks .checkbox-icon,
  .sync-engine-bookmarks.sync-engine-image,
  sync-engine-history .checkbox-icon,
  .sync-engine-history.sync-engine-image,
  .sync-engine-passwords .checkbox-icon,
  .sync-engine-passwords.sync-engine-image,
  #firefox-mobile,
  #mozilla-rally {
	  fill: var(--gnome-toolbar-icon-fill) !important;
    -moz-context-properties: fill, fill-opacity;
  }
  .info-icon {
	  fill: var(--in-content-primary-button-background) !important;
  }

	/* Icons */
	#category-general > .category-icon,
	.sync-engine-prefs .checkbox-icon,
	.sync-engine-prefs.sync-engine-image {
		list-style-image: url("../assets/yaru-icons/settings-app-symbolic.svg") !important;
	}
	#category-home > .category-icon {
		list-style-image: url("../assets/yaru-icons/user-home-symbolic.svg") !important;
	}
	#category-search > .category-icon,
	:host(:not([searchbutton])) > .textbox-search-sign {
    list-style-image: url("../assets/yaru-icons/edit-find-symbolic.svg") !important;
  }
	#category-privacy > .category-icon {
    list-style-image: url("../assets/yaru-icons/system-lock-screen-symbolic.svg") !important;
  }
	#category-sync > .category-icon {
    list-style-image: url("../assets/yaru-icons/emblem-synchronizing-symbolic.svg") !important;
  }
  xul|*.addons-icon,
  .sync-engine-addons .checkbox-icon,
  .sync-engine-addons.sync-engine-image {
    	list-style-image: url("../assets/yaru-icons/application-x-addon-symbolic.svg") !important;
  }
  xul|*.help-icon {
    	list-style-image: url("../assets/yaru-icons/help-app-symbolic.svg") !important;
  }
  .face-sad {
   list-style-image: url("../assets/yaru-icons/face-sad-symbolic.svg") !important;
  }
  .face-smile {
   list-style-image: url("../assets/yaru-icons/face-sad-symbolic.svg") !important;
  }
  #trackingProtectionShield {
    	list-style-image: url("../assets/yaru-icons/security-high-symbolic.svg") !important;
  }
  .content-blocking-warning-image {
    	list-style-image: url("../assets/yaru-icons/warning-symbolic.svg") !important;
  }
  .geo-icon {
    	list-style-image: url("../assets/yaru-icons/mark-location-symbolic.svg") !important;
  }
  .camera-icon {
    	list-style-image: url("../assets/yaru-icons/camera-video-symbolic.svg") !important;
  }
  .microphone-icon {
    	list-style-image: url("../assets/yaru-icons/audio-input-microphone-symbolic.svg") !important;
  }
  .desktop-notification-icon {
    	list-style-image: url("../assets/yaru-icons/preferences-system-notifications-symbolic.svg") !important;
  }
  .sync-engine-bookmarks .checkbox-icon,
  .sync-engine-bookmarks.sync-engine-image {
    	list-style-image: url("../assets/yaru-icons/starred-symbolic.svg") !important;
  }
  sync-engine-history .checkbox-icon,
  .sync-engine-history.sync-engine-image {
    	list-style-image: url("../assets/yaru-icons/preferences-system-time-symbolic.svg") !important;
  }
  .sync-engine-passwords .checkbox-icon,
  .sync-engine-passwords.sync-engine-image {
	  list-style-image: url("../assets/yaru-icons/dialog-password-symbolic.svg") !important;
  }
  #firefox-mobile {
    background-image: url("../assets/yaru-icons/phone-symbolic.svg") !important;
  }
  #mozilla-rally {
    background-image: url("../assets/yaru-icons/flag-outline-thin-symbolic.svg") !important;
  }
  .info-icon {
	  list-style-image: url("../assets/yaru-icons/dialog-information-symbolic.svg") !important;
  }
}
