@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Accent colors from dg-yaru */
:root {
    /* Just the rgb values */
    --yaru-orange: 237, 91, 40;
    --yaru-bark: 141, 107, 76;
    --yaru-sage: 115, 125, 90;
    --yaru-olive: 81, 142, 60;
    --yaru-viridian: 31, 163, 106;
    --yaru-prussiangreen: 39, 179, 151;
    --yaru-lightblue: 82, 152, 206;
    --yaru-blue: 70, 90, 203;
    --yaru-purple: 152, 81, 196;
    --yaru-magenta: 199, 82, 199;
    --yaru-pink: 232, 107, 169;
    --yaru-red: 223, 66, 66;
}