@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
  :root {
    /* Browser area before a page starts loading */
    --gnome-browser-before-load-background: #252525;

    /* Accent */
    --gnome-accent-bg: rgb(var(--yaru-orange));
    --gnome-accent: rgb(var(--yaru-orange));

    /* Toolbars */
    --gnome-toolbar-background: #212121;
    --gnome-toolbar-color: #ffffff;
    --gnome-toolbar-border-color: rgba(255, 255, 255, .15);
    --gnome-toolbar-icon-fill: #ffffff;
    --gnome-inactive-toolbar-color: rgba(255, 255, 255, .5);
    --gnome-inactive-toolbar-background: #292929;
    --gnome-inactive-toolbar-icon-fill: rgba(255, 255, 255, .5);

    /* Sidebar */
    --gnome-sidebar-background: #252525;

    /* Menus */
    --gnome-menu-background: #1c1c1c;
    --gnome-menu-border-color: rgba(255, 255, 255, .07);
    --gnome-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
    --gnome-menu-button-hover-background: var(--gnome-button-background);
    --gnome-menu-button-active-background: rgba(255, 255, 255, .19);
    --gnome-menu-separator-color: rgba(255, 255, 255, .15);
    --gnome-menu-radio-border-color: rgba(255, 255, 255, .3);

    /* Header bar */
    --gnome-headerbar-border: rgba(0, 0, 0, .36);

    /* Buttons */
    --gnome-button-background: rgba(255, 255, 255, .1);
    --gnome-button-hover-background: rgba(255, 255, 255, .15);
    --gnome-button-active-background: rgba(255, 255, 255, .3);
    --gnome-button-flat-hover-background: rgba(255, 255, 255, .07);
    --gnome-button-flat-active-background: rgba(255, 255, 255, .1);
    --gnome-button-suggested-action-background: var(--gnome-accent-bg);
    --gnome-button-destructive-action-background: #c7162b;
    --gnome-button-close-background: var(--gnome-button-flat-hover-background);
    --gnome-button-hover-close-background:var(--gnome-button-hover-background);
    --gnome-button-active-close-background: var(--gnome-button-active-background);
    --gnome-button-border: rgba(255, 255, 255, .05);
    --gnome-opaque-button-border: rgba(255, 255, 255, .15);
    --gnome-button-suggested-flat-hover-background: rgba(var(--yaru-orange), .07);
    --gnome-button-suggested-flat-active-background: rgba(var(--yaru-orange), .1);

    /* Dialogs */
    --gnome-dialog-outer-border: rgba(255, 255, 255, .1);

    /* Entries */
    --gnome-entry-background: rgba(255, 255, 255, .1);
    --gnome-entry-color: #ffffff;
    --gnome-focused-urlbar-border-color: rgba(var(--yaru-orange), 0.5); /* Same as --gnome-accent but with opacity*/

    /* Switches */
    --gnome-switch-border-color: rgba(255, 255, 255, .15);

    /* Cards */
    --gnome-card-background: rgba(255, 255, 255, .08);
    --gnome-card-hover-background: rgba(255, 255, 255, .11);
    --gnome-card-active-background: rgba(255, 255, 255, .16);
    --gnome-card-flat-hover-background: rgba(255, 255, 255, .03);
    --gnome-card-flat-active-background: rgba(255, 255, 255, .08);
    --gnome-card-border: rgba(0, 0, 0, .36);
    --gnome-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03), 0 1px 3px 1px rgba(0, 0, 0, .07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);

    /* Lists */
    --gnome-list-background: #252525;
    --gnome-row-hover-background: rgba(255, 255, 255, .07);
    --gnome-row-active-background: rgba(255, 255, 255, .16);
    --gnome-row-selected-background: rgba(255, 255, 255, .1);
    --gnome-row-selected-hover-background: rgba(255, 255, 255, .13);
    --gnome-row-selected-active-background: rgba(255, 255, 255, .19);

    /* Settings */
    --gnome-settings-background: #292929;
    --gnome-settings-info-background: rgba(var(--yaru-orange), 0.15); /* Same as --gnome-accent but with opacity*/
    --gnome-settings-info-selected-background: rgba(var(--yaru-orange), 0.2); /* Same as --gnome-accent but with opacity*/

    /* Advanced Preferences */
    --gnome-warning-icon-fill: #F99B11;

    /* Tabs */
    --gnome-tabbar-tab-background: var(--gnome-toolbar-color); /* For close button overlay */
    --gnome-tabbar-tab-separator-color: rgba(255, 255, 255, .15);
    --gnome-tabbar-tab-hover-background: rgba(255, 255, 255, .07);
    --gnome-tabbar-tab-active-background: rgba(255, 255, 255, .1);
    --gnome-tabbar-tab-active-background-contrast: rgba(255, 255, 255, .3);
    --gnome-tabbar-tab-active-hover-background: rgba(255, 255, 255, .13);
    --gnome-inactive-tabbar-background: var(--gnome-inactive-headerbar-background);
    --gnome-tab-button-background: rgba(0, 0, 0, .5);
    --gnome-tab-button-hover-background: rgba(0, 0, 0, .6);
    --gnome-tabbar-tab-identity-base-opacity: 0;
    --gnome-tabbar-tab-needs-attention: #546F8E;
  }

  /* Private window colors */
  :root {
    /* Toolbars */
    --gnome-private-toolbar-background: #252F49;
    --gnome-private-inactive-toolbar-background: #1c2438;
  }
}

