@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
:root {
  /* Browser area before a page starts loading */
  --gnome-browser-before-load-background: #fcfcfc;

  /* Accent */
  --gnome-accent-bg: rgb(var(--yaru-orange));
  --gnome-accent: rgb(var(--yaru-orange));

  /* Toolbars */
  --gnome-toolbar-background: #eaeaea;
  --gnome-toolbar-color: rgba(0, 0, 0, .8);
  --gnome-toolbar-border-color: rgba(0, 0, 0, .12);
  --gnome-toolbar-icon-fill: rgba(0, 0, 0, .8);
  --gnome-inactive-toolbar-color: rgba(0, 0, 0, .4);
  --gnome-inactive-toolbar-background: #fcfcfc;
  --gnome-inactive-toolbar-icon-fill: rgba(0, 0, 0, .4);

  /* Sidebar */
  --gnome-sidebar-background: #f7f7f7;

  /* Menus */
  --gnome-menu-background: #f7f7f7;
  --gnome-menu-border-color: rgba(0, 0, 0, .05);
  --gnome-menu-shadow: 0 1px 5px 1px rgba(0,0,0, .09), 0 2px 14px 3px rgba(0,0,0, .05);
  --gnome-menu-button-hover-background: var(--gnome-button-background);
  --gnome-menu-separator-color: rgba(0, 0, 0, .12);
  --gnome-menu-radio-border-color: rgba(0, 0, 0, .24);

  /* Header bar */
  --gnome-headerbar-border: rgba(0, 0, 0, .08);

  /* Buttons */
  --gnome-button-background: rgba(0, 0, 0, .08);
  --gnome-button-hover-background: rgba(0, 0, 0, .12);
  --gnome-button-active-background: rgba(0, 0, 0, .24);
  --gnome-button-flat-hover-background: rgba(0, 0, 0, .056);
  --gnome-button-flat-active-background: rgba(0, 0, 0, .128);
  --gnome-button-suggested-action-background: var(--gnome-accent-bg);
  --gnome-button-destructive-action-background: #c7162b;
  --gnome-button-close-background: var(--gnome-button-flat-hover-background);
  --gnome-button-hover-close-background:var(--gnome-button-hover-background);
  --gnome-button-active-close-background: var(--gnome-button-active-background);
  --gnome-button-border: rgba(0, 0, 0, .04);

  /* Entries */
  --gnome-entry-background: rgba(0, 0, 0, .08);
  --gnome-entry-color: rgba(0, 0, 0, .8);
  --gnome-focused-urlbar-border-color: rgba(var(--yaru-orange), 0.5); /* Same as --gnome-accent but with opacity*/

  /* Switches */
  --gnome-switch-border-color: rgba(0, 0, 0, .12);

  /* Cards */
  --gnome-card-background: #ffffff;
  --gnome-card-hover-background: #f9f9f9;
  --gnome-card-active-background: #efefef;
  --gnome-card-flat-hover-background: #f9f9f9;
  --gnome-card-flat-active-background: #efefef;
  --gnome-card-border: rgba(0, 0, 0, .07);
  --gnome-card-box-shadow: 0 0 0 1px rgba(0, 0, 0, .03), 0 1px 3px 1px rgba(0, 0, 0, .07), 0 2px 6px 2px rgba(0, 0, 0, 0.03);

  /* Lists */
  --gnome-list-background: #f7f7f7;
  --gnome-row-hover-background: rgba(0, 0, 0, .056);
  --gnome-row-active-background: rgba(0, 0, 0, .128);
  --gnome-row-selected-background: rgba(0, 0, 0, .08);
  --gnome-row-selected-hover-background: rgba(0, 0, 0, .104);
  --gnome-row-selected-active-background: rgba(0, 0, 0, .152);


  /* Settings */
  --gnome-settings-background: #fcfcfc;
  --gnome-settings-info-background: rgba(var(--yaru-orange), 0.1); /* Same as --gnome-accent but with opacity*/

  /* Advanced Preferences */
  --gnome-warning-icon-fill: #F99B11;

  /* Tabs */
  --gnome-tabbar-tab-background: var(--gnome-toolbar-color); /* For close button overlay */
  --gnome-tabbar-tab-separator-color: var(--gnome-toolbar-border-color);
  --gnome-tabbar-tab-hover-background: rgba(0, 0, 0, .056);
  --gnome-tabbar-tab-active-background: rgba(0, 0, 0, .08);
  --gnome-tabbar-tab-active-background-contrast: rgba(0, 0, 0, .24);
  --gnome-tabbar-tab-active-hover-background: rgba(0, 0, 0, .104);
  --gnome-tab-button-background: rgba(255, 255, 255, .5);
  --gnome-tab-button-hover-background: rgba(255, 255, 255, .6);
  --gnome-tabbar-tab-identity-base-opacity: .1;
  --gnome-tabbar-tab-needs-attetion: #84AEE2;
}

/* Private window colors */
:root {
  /* Toolbars */
  --gnome-private-toolbar-background: #d7e3f0;
  --gnome-private-inactive-toolbar-background: #eaf0f7;
}
