/* Entries */

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Entries */
#urlbar,
#searchbar,
#search-box,
.findbar-textbox,
#loginTextbox,
#password1Textbox,
.tabsFilter,
#editBMPanel_namePicker,
#editBMPanel_tagsField,
html|input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]),
html|textarea,
xul|search-textbox {
  -moz-appearance: none !important;
  background: var(--gnome-entry-background) !important;
  border-radius: 6px !important;
  border: 1px solid var(--gnome-button-border) !important;
  color: var(--gnome-fg-color) !important;
  height: 34px !important;
  max-height: 34px !important;
  margin: 0 !important;
  padding: 5px !important;
  box-sizing: border-box;
}

/* Entries focused */
#urlbar[breakout][breakout-extend],
#urlbar[focused="true"]:not([suppress-focus-border]),
#searchbar:focus-within,
#search-box[focused], 
.findbar-textbox[focused],
.findbar-textbox:focus,
#loginTextbox:focus,
#password1Textbox:focus,
.tabsFilter[focused],
#editBMPanel_namePicker:focus-visible,
#editBMPanel_tagsField:focus-visible,
html|input:is([type="email"], [type="tel"], [type="text"], [type="password"], [type="url"], [type="number"]):focus,
html|textaream:focus,
xul|search-textbox[focused] {
  outline: 2px solid var(--gnome-focused-urlbar-border-color) !important;
  outline-offset: -2px;
  -moz-outline-radius: 5px;
}

/* Entries combined */
.findbar-textbox:not(.minimal) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-right-width: 0 !important;
}
.findbar-textbox:not(.minimal)[focused], .findbar-textbox:not(.minimal):focus {
  -moz-outline-radius: 5px 0 0 5px !important;
}

/* Entry button */
.identity-box-button,
#tracking-protection-icon-container,
#notification-popup-box,
.urlbar-page-action,
.urlbar-icon {
  fill-opacity: 0.8 !important;
}

.identity-box-button:hover:not([open="true"]),
#tracking-protection-icon-container:hover:not([open="true"]),
#notification-popup-box:hover:not([open="true"]),
.urlbar-page-action:hover:not([open="true"]),
.urlbar-page-action:hover:not([open="true"]) .urlbar-icon,
.urlbar-icon:not([disabled]):hover {
  background: none !important;
  fill-opacity: 1 !important;  
}

.identity-box-button:hover:active,
.identity-box-button[open=true],
#tracking-protection-icon-container:hover:active,
#tracking-protection-icon-container[open=true],
#notification-popup-box:hover:active,
#notification-popup-box[open=true],
.urlbar-page-action:hover:active,
.urlbar-page-action[open=true],
.urlbar-page-action:hover:active .urlbar-icon,
.urlbar-page-action[open=true] .urlbar-icon {
  background: none !important;
  fill-opacity: 1 !important;  
}

/* Entries fixes */
#urlbar-container, #search-container {
  padding: 0 !important;
  margin: 0 !important;
}
#urlbar-input-container,
#page-action-buttons {
  background: transparent !important;
  border: 0 !important;
  max-height: 32px !important;
}
#urlbar-go-button, .search-go-button {
  height: 32px !important;
}
#urlbar, #searchbar {
  margin: 0 !important;
  padding: 0 !important;
}
.searchbar-textbox {
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  min-height: auto !important;
}
#searchbar > .searchbar-textbox[focused] .searchbar-search-button:not(#hack) {
  margin: 0 !important;
}
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background {
  outline: 0 !important;
}
