/* Most of this (including the images that are used here) is borrowed from https://github.com/vinceliuice/WhiteSur-firefox-theme */

@media (prefers-color-scheme: dark) {
:root[tabsintitlebar] #titlebar .titlebar-close {
  background: url("../assets/mac-icons/titlebutton-close-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-max {
  background: url("../assets/mac-icons/titlebutton-maximize-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-min {
  background: url("../assets/mac-icons/titlebutton-minimize-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-restore,
:root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-max {
  background: url("../assets/mac-icons/titlebutton-maximize-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-close:active {
  background: url("../assets/mac-icons/titlebutton-close-active-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-max:active {
  background: url("../assets/mac-icons/titlebutton-maximize-active-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-min:active {
  background: url("../assets/mac-icons/titlebutton-minimize-active-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar .titlebar-restore:active,
:root[tabsintitlebar][sizemode="maximized"] #titlebar .titlebar-max:active {
  background: url("../assets/mac-icons/titlebutton-restore-active-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-close {
  background: url("../assets/mac-icons/titlebutton-close-backdrop-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-max {
  background: url("../assets/mac-icons/titlebutton-maximize-backdrop-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-min {
  background: url("../assets/mac-icons/titlebutton-minimize-backdrop-dark.svg") no-repeat;
  background-size: contain;
}
:root[tabsintitlebar] #titlebar:-moz-window-inactive .titlebar-restore,
:root[tabsintitlebar][sizemode="maximized"] #titlebar:-moz-window-inactive .titlebar-max {
  background: url("../assets/mac-icons/titlebutton-restore-backdrop-dark.svg") no-repeat;
  background-size: contain;
}
}
