@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@import 'accent-colors';

@function toRGB($color) {
  @return red($color) + ", " + green($color) + ", " + blue($color);
}

$accent_color_rgb: toRGB($accent_color);

/* Variables that start with --gnome- are added by me and are assigned
 * to elements somewhere in this code. The rest of the variables are
 * built-in in Firefox, so you need to add an !important if you wanna
 * override them. */
@media (prefers-color-scheme: dark) {
	:root {
		/* Browser area before a page starts loading */
		--gnome-browser-before-load-background: #292929;
		--gnome-inactive-browser-before-load-background: #272727;

		/* Accent */
		--gnome-accent-bg: #{$accent_color};
		--gnome-accent: #{$accent_color};

		/* Toolbars */
		--gnome-toolbar-background: #222222;
		--gnome-toolbar-border-color: rgba(255, 255, 255, .15);
		--gnome-toolbar-icon-fill: #ffffff;
		--gnome-inactive-toolbar-background: #272727;
		--gnome-inactive-toolbar-border-color: #484848;

		/* Menus */
		--gnome-menu-background: #1d1d1d;
		--gnome-menu-border-color: rgba(255, 255, 255, .15);
		--gnome-menu-icon-background: #272727;
		--gnome-menu-separator-color: #4b4b4b;

		/* Header bar */
		--gnome-headerbar-background: #222222;

		/* Buttons */
		--gnome-button-destructive-action-background: #c7162b;

		/* Entries */
		--gnome-entry-background: rgba(255, 255, 255, .1);
		--gnome-inactive-entry-background: rgba(255, 255, 255, .05);
		--gnome-focused-urlbar-border-color: rgba(#{$accent_color_rgb}, 0.5); /* Same as --gnome-accent but with opacity*/
		--gnome-inactive-entry-color: #ffffff;
		--gnome-urlbar-results-color: #262626;

		/* Sidebar */
		--gnome-inactive-sidebar-background: #272727;

		/* Settings */
		--gnome-settings-background: #272727;
		--gnome-settings-info-background: rgba(#{$accent_color_rgb}, 0.1); /* Same as --gnome-accent but with opacity*/

		/* Advanced Preferences */
		--gnome-warning-icon-fill: #F99B11;

		/* Tabs */
		--gnome-tabbar-tab-background: #1b1b1b;
		--gnome-tabbar-tab-hover-background: #222222;
		--gnome-tabbar-tab-active-background: #222222;
		--gnome-tabbar-tab-active-hover-background: #292929;
		--gnome-inactive-tabbar-tab-background: #1f1f1f;
		--gnome-inactive-tabbar-tab-hover-background: #262626;
		--gnome-inactive-tabbar-tab-active-background: #272727;
		--gnome-inactive-tabbar-tab-active-hover-background: #2d2d2d;
	}
}

